@charset "UTF-8";

body{
    background-color: blanchedalmond;
    font-size: 20px;
  }
  h1{
    color: rgb(175, 102, 244);
    background-color: rgb(72, 72, 152);
    font-size: 1.5em;
  }
  p{
    text-align: justify;
  }
  h2{
    color: darkgreen;
  }